@use "colors" as c;

footer {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > h1 {
      font: 700 2rem c.$text1;
      text-transform: uppercase;
      color: c.$third;
    }
    > p {
      font: 500 1.2rem c.$text1;
    }
    > h5 {
      font: 300 2rem c.$text1;
      margin: 1rem 0;
    }
    > div > a {
      font: 500 1rem c.$text1;
      margin: 0 1rem;
      color: c.$dark;
      transition: 0.3s all;
      &:hover {
        color: c.$third;
      }
    }
  }
}
